appdirs
click
colorama
Cython
distlib
filelock
Flask
gensim
gunicorn
importlib-metadata
itsdangerous
jieba
Jinja2
joblib
MarkupSafe
mysql-connector
nltk
numpy
pandas
ptvsd
PyMySQL
python-dateutil
pytz
regex
scipy
six
sklearn
smart-open
stop-words
subprocess32
tqdm
typing-extensions
virtualenv
Werkzeug
wordnet
zipp

transformers
wordfreq
pycorenlp
tokenizers

spacy

azure-functions   
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.5.0+cpu
