img[alt="User"]{
    width:40%;
}

img[alt="Username"]{
    width:12%;
}

img[alt = "Password"]{
    width:12%;
}

.input-container{
    width:100%;
    border:white;
    display:flex;
    margin:1%
}

#centerLogo{
    text-align:center;
    display:block;
}

.adminForm{
    margin-right:auto;
    margin-left:auto;
    display:block;
    padding:5%;
    width:30%;
}

.formInput {
    background:transparent;
    padding-bottom:3%;
    margin-right:auto;
    margin-left:auto;
    padding-top:3%;
    font-size:1em;
    color:#ffffff;
    display:block;
    border:1px solid white;
    width:100%;
}

.formInput:focus{
    border-bottom-color:rgb(123,1,0);
    border-bottom-style:solid;
    border-bottom-width:3px;
    outline:none;
}

.formButton{
    box-shadow: 0 0 20px rgba(16,16,16,0.5);
    background-color:rgb(123,1,0);
    transition:transform .4s;
    border-radius:5em;
    box-sizing:none;
    outline:none;
    height:35px;
    color:white;
    border:none;
    width:100%;
    margin:1%;
}

.formButton:hover{
    transform:scale(1.1);
}


