.searchcon{
    color: white;
    width: 50%;
    float: left;
}
.piecelist{
    width: 70%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 1);
    height: 100%;
}
.legtitle{
    margin-bottom: 2%;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgba(169,121,46,1);
    font-weight: 700;
}
.pieces{
    color: white;
    margin-bottom: 2%;
}
.mentext{
    width: 80%;
    float: left;
}
.mensib{
    width: 20%;
    float: left;
}