.categorylist{
    margin: 5% 0 100% 0;
    float: left;
    width:15%;
}
.content{
    float: right;
    width: 80%;
}
.catitems{
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    margin: 20% auto;
}
.catlink:hover{
    color:  rgb(123, 1, 0);
    font-weight: bold;
    border-bottom: solid 3px rgba(16,16,16,1);
}
.catlink{
    padding:0 2% 1.5% 2%;
    text-decoration: none;
    color: white;
    border-bottom: solid 2.5px rgba(16,16,16,0.5);
}
.activee{
    color:  rgb(123, 1, 0);
    border-bottom: solid 3px rgba(16,16,16,1);
}
