body { 
  margin: 0; 
  font-family:"Bahnscrift", sans-serif; 
  /*background-image: url("bg.jpg");*/
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-attachment: fixed;
}

.colorpalette{
  color: rgb(184, 184, 184);
  color: rgb(123, 1, 0);
  color: rgb(16, 16, 16);
  color: rgb(66,66,66);
  color: rgb(88,88,88);
}
