body {
  margin: 0;
  font-family:"Bahnscrift", sans-serif;
  background-color: rgb(88,88,88);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.colorpalette{
  color: rgb(184, 184, 184);
  color: rgb(123, 1, 0);
  color: rgb(16, 16, 16);
  color: rgb(66,66,66);
  color: rgb(88,88,88);
}
